<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->     
    <head>
        <title>Ohje1</title>
        <meta charset="utf-8" />
    </head>
   
    <body>
        <h1> Lisää uusi annos </h1>
        
        <form method="POST" action="/AnnosLuonti">
            Annoksen nimi:<br/>
            <input type="text" name="name"/><br/>
            Kirjoita annoksen ohje:<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää!"/>
        </form>  
        
        <h1> Ohje </h1>
    </body>

