<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ohje</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${annos}">annoksen nimi</h1>
        <h2> Raaka-aineet: </h2>

        <ul>
            <li th:each="raakaaine: ${raakaAineet}">
                <span th:text="${raakaaine}">1</span> 
            </li>
        </ul>
        
        <h2> Ohje: </h2>
        <h3 th:text="${teksti.ohje}">testi</h3>
    </body>
</html>
