<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ohje1</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1> Lisää uusi raaka-aine </h1>
        <h2 th:text="${annos}">testi</h2>
        
        <ul>
            <li th:each="raakaaine: ${raakaAineet}">
                <span th:text="${raakaaine}">1</span> 
            </li>
        </ul>


        <form method="POST" action="/RaakaAineLuonti">
            Raakaaine:<br/>
            <input type="text" name="Raakaaine"/><br/>
            Maara:<br/>
            <input type="text" name="Maara"/><br/>
            Jarjestys:<br/>
            <input type="text" name="Jarjestys"/><br/>
          
            <input type="submit" value="Lisää raakaaine"/>
        </form>

    </body>
</html>
